@font-face {
    font-family: "Kumbh Sans";
    src: url(../assets/fonts/KumbhSans-Bold.woff) format("woff");
    font-weight: 700;
}
@font-face {
    font-family: "Kumbh Sans";
    src: url(../assets/fonts/KumbhSans-Regular.woff) format("woff");
    font-weight: 400;
}